<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages>
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.Image" mappedTagType="WebControls.SmartImage, WebControls" />
      </tagMapping>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>